.button {
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  background-color: #c1d1cf;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.button.w100 {
  min-width: 100px;
  text-align: center;
}
.button:hover {
  background-color: #9dadab;
  cursor: pointer;
}
.button.positive {
  background-color: #42d640;
  color: white;
}
.button.positive:hover {
  background-color: #2abb28;
}
.button.neutral {
  background-color: #213eb2;
  color: white;
}
.button.neutral:hover {
  background-color: #192f87;
}
.button.negative {
  background-color: #d61747;
  color: white;
}
.button.negative:hover {
  background-color: #7a0d28;
}
.button.icon {
  background-color: transparent;
  font-size: 20px;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
}
.button.icon:hover {
  color: #ffffff;
}
