#loginform {
  margin: 30px auto;
  padding: 0 0 20px 0;
  width: 360px;
  max-width: 90%;
  border: 1px solid #c1d1cf;
  text-align: center;
  color: grey;
}
#loginform h2 {
  padding: 6px 0;
  margin: 0 0 20px 0;
  text-align: center;
  background-color: #3FB3E7;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.5em;
}
#loginform h2 small {
  font-size: 0.6em;
}
#loginform input {
  padding: 6px;
  width: 80%;
  margin: 6px 0;
  text-align: center;
}
#loginform .button {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}
#loginform .error {
  display: none;
  border: 1px solid #ffbf00;
  color: #e78000;
  width: 80%;
  padding: 8px;
  margin: auto;
  font-size: 0.8em;
}
