html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html,body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.hidden{
    display: none;
}

.clear{
    clear: both;
}



.directory .content{
    padding-left: 20px;
}

.filedirectory,
.directoryup{
    background-color: #f2f2f5;
}

.directoryup{
    padding-left: 4px;
}

.filedirectory .label.fa,
.file .label.fa,
.record .label.fa{
    display: block;
}


.filedirectory .label.fa:before{
    content: "\f114";
    margin: 0 4px;
    color: #66758d;
}

.file .label.fa:before,
.record .label.fa:before{
    content: "\f016";
    margin: 0 4px;
    color: #66758d;
}

.file:hover,
.record:hover,
.filedirectory:hover,
.directoryup:hover{
    background-color: #d2e6ff;
    cursor: pointer;

}

.filemanager .panes{
    height: 100%;
    width: 100%;
}

.filemanager .caption,
.texteditor .caption{
    background-color: #2a74a0;
    border: 1px solid #c1d1cf;
    padding: 4px;
    font-size: 13px;
    color: #FFF;
}

.filemanager .caption.right {
    text-align: right;
    border-right: none;
    border-left: none;
}

.filemanager .caption.left {
    border-left: none;
}

.filemanager .caption.margin{
    margin-top: 16px;

}

.filemanager .actions{
    margin-right: 20px;
}

.filemanager .actions i.fa{
   width: 16px;
}

.filemanager .actions .caption{
    background-color: #FFF;
    border: none;
    border-bottom: 1px solid #c1d1cf;
    padding: 4px;
    font-size: 13px;
    color: #3c5e7a;
}

.filemanager .recordactions{
    margin-bottom: 16px;
}

.filemanager .action{
    color: #3a8db2;
    font-size: 13px;
    padding: 4px 0 4px 12px;
}

.filemanager .action.positive{
    color: #22a355;
}

.filemanager .action.negative{
    color: #991533;
}

.filemanager .action:hover{
    text-decoration: underline;
    cursor: pointer;
}

.filemanager .directorycontainer{
    height: 100%;
    width: 200px;
    position: absolute;
    margin-left: 0;
    background-color: #f2f2f5;
}

.filemanager .directorylist,
.filemanager .profilelist{
    padding: 4px;
}

.filemanager .directory .label.fa{
    display: block;
    font-size: 13px;
    text-overflow: ellipsis;
    padding: 4px;
    color: #222f44;
    border-bottom: 1px solid transparent;
}

.filemanager .directory .label:hover{
    color: #0f101e;
    cursor: pointer;
    border-bottom: 1px solid #c1d1cf;
}


.filemanager .directory .label.fa:before{
    margin-right: 6px;
    content: "\f114";
}

.filemanager .directory .label.fa.open:before,
.filemanager .directory .label.fa:hover:before{
    margin-right: 4px;
    content: "\f115";
}

.filemanager .filecontainer{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 400px;
}

.filemanager .filedetail{
    position: absolute;
    height: 100%;
    width: 200px;
    margin-left: 200px;
}

.filemanager .filedetail .icon.image{
    width: 100%;
    height: 100px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.filelist .label{
    font-size: 13px;
    padding: 4px 2px;
    margin: 0;
    border-bottom: 1px dotted #c1d1cf;
}

.filedetail .info{
    font-size: 13px;
    padding: 4px;
    line-height: 16px;
}

.filedetail select{
    border: none;
    border-bottom: 1px solid #c1d1cf;
    background-color: white;
    width: 90%;
    margin-left: 10%;
    padding: 4px;
}

.filedetail .datelabel{
    width: 35%;
    text-align: right;
    font-size: 12px;
    padding: 4px;
    color: #97a5a3;
    float: left;
}

#commonpublishdate .datepicker{
    float: left;
    border: none;
    border-bottom: 1px solid #c1d1cf;
    padding: 4px;
    width: 65%;
}

.profilelist .profilecategories{
    padding-left: 20px;
}

.profilelist .profile.fa,
.profilelist .category.fa{
    display: block;
    font-size: 13px;
    text-overflow: ellipsis;
    padding: 4px;
    color: #222f44;
    border-bottom: 1px solid transparent;
    text-transform: capitalize;
}

.profilelist .profile.fa:hover,
.profilelist .category.fa:hover{
    color: #0f101e;
    cursor: pointer;
    border-bottom: 1px solid #c1d1cf;
}

.profilelist .profile.fa:before{
    margin-right: 6px;
    content: "\f0b1";
}

.profilelist .category.fa:before{
    margin-right: 6px;
    content: "\f02b";
}


.editor{
    padding-bottom: 4px;
}

.editor .itemcaption{
    padding: 4px;
    background-color: #f2f2f5;
    text-transform: capitalize;
}

.editor .inputBox{
    padding: 4px;
    border: 1px solid silver;
    width: 100%;
}

.editor textarea{
    padding: 4px;
    border: 1px solid silver;
    width: 100%;
    height: 200px;
}

.editor select{
    padding: 4px;
    border: 1px solid silver;
    width: 100%;
    background-color: white;
}

.button{
    display: inline-block;
    padding: 4px 12px;
    text-align: center;
    background-color: #c1d1cf;
    font-size: 13px;
    border-radius: 4px;
}

.button:hover{
    background-color: #9dadab;
    cursor: pointer;
}

.button.positive{
    background-color: #42d640;
    color: white;
}

.button.positive:hover{
    background-color: #38aa36;
}

.button.neutral{
    background-color: #213eb2;
    color: white;
}

.button.neutral:hover{
    background-color: #21399d;
}

.button.negative{
    background-color: #d61747;
    color: white;
}

.button.negative:hover{
    background-color: #ab163a;
}

.inlineDialog{
    font-size: 13px;
    text-align: center;
    padding: 4px;
    background-color: #a2c4f9;
}

.inlineDialog .inputBox{
    width: 100%;
    padding: 4px;
    border: #56799d;
}

.inlineDialog .buttons{
    padding-top: 8px;
}


#progress{
    height: 4px;
}

#progress .bar{
    height: 4px;
    background-color: green;

}

.texteditor textarea{
    width: 100%;
    height: 400px;
}


.inlineformrow{
    padding: 4px;
    border-bottom: 1px solid #c1d1cf;
}